
@import "../valo/valo.scss";

@mixin mytheme {
  @include valo;

  .v-grid-row > td {
    background:none;
  }

  .v-grid-cell {
    background:none;
  }
  .v-grid-row > th {
    background:none;
  }

  .highlight-red {
    background:red;
  }
  .highlight-green {
    background:green;
  }
}
