
@import "../valo/valo.scss";

@mixin mytheme {
  @include valo;

  .v-button {
    color:yellow;
  }

  .highlight-red {
    //background: red;
    color:red;
  }
  .highlight-green {
    //background: green;
    color:green;
  }
}
